global_configuration:
  CONTAINER_REGISTRY: ci-repo.englab.juniper.net:5010
  REGISTRY_PRIVATE_INSECURE: True
provider_config:
  bms:
    ssh_user: root
    ssh_pwd: c0ntrail123
    ntpserver: {{ ntp_server }}
    domainsuffix: local
instances:
  {{ primary.host }}:
    ip: {{ primary.ip }}
    provider: bms
    roles:
      config:
      config_database:
      control:
      webui:
      analytics:
      analytics_database:
      vrouter:
      openstack:
      openstack_compute:
{% for secondary in secondaries %}
  {{ secondary.host }}:
    ip: {{ secondary.ip }}
    provider: bms
    roles:
      config:
      config_database:
      analytics:
      analytics_database:
{% endfor %}
contrail_configuration:
  CONTRAIL_VERSION: {{ contrail_version }}
  CLOUD_ORCHESTRATOR: openstack
  RABBITMQ_NODE_PORT: 5673
  ENCAP_PRIORITY: VXLAN,MPLSoUDP,MPLSoGRE
  OPENSTACK_VERSION: ocata
  AUTH_MODE: keystone
  KEYSTONE_AUTH_URL_VERSION: /v3
kolla_config:
  kolla_globals:
    enable_haproxy: no
  kolla_passwords:
    keystone_admin_password: contrail123
