DEVICE="eno1"
BOOTPROTO="static"
ONBOOT="yes"
TYPE="Ethernet"
IPADDR={{ ansible_host }}
NETMASK=255.255.224.0
GATEWAY=10.155.95.254
DNS1=10.155.191.252
DNS2=172.21.200.60
DOMAIN=englab.juniper.net spglab.juniper.net jnpr.net juniper.net
