DEVICE={{ vm_interface }}
BOOTPROTO="static"
ONBOOT="yes"
TYPE="Ethernet"
IPADDR={{ vm_ip }}
NETMASK=255.255.224.0
GATEWAY={{ vm_gateway_ip }}
DNS1=10.155.191.252
DNS2=172.21.200.60
DOMAIN="englab.juniper.net spglab.juniper.net jnpr.net juniper.net"