DEVICE={{ vm_interface }}
BOOTPROTO="static"
ONBOOT="yes"
TYPE="Ethernet"
IPV6INIT="no"
IPADDR={{ vm_ip }}
NETMASK=255.255.224.0
GATEWAY={{ vm_gateway_ip }}
DNS1=172.21.200.60
DOMAIN="englab.juniper.net jnpr.net juniper.net"
