DEVICE={{ vm_interface }}
BOOTPROTO="static"
ONBOOT="yes"
TYPE="Ethernet"
IPV6INIT="no"
IPADDR={{ vm_ip }}
NETMASK={{ vm_netmask }}
{% if vm_gateway_ip is defined %}
GATEWAY={{ vm_gateway_ip }}
{% endif %}
{% if vm_dns1 is defined %}
DNS1={{ vm_dns1 }}
{% endif %}
{% if vm_dns2 is defined %}
DNS2={{ vm_dns2 }}
{% endif %}
{% if vm_domain is defined %}
DOMAIN="{{ vm_domain }}"
{% endif %}
